
.navbar-brand, .nav-item, .hero-title, .hero-sub, .about-title {
    font-family: 'Bebas Neue';
    text-transform: uppercase;
}

#about-page, #writing-page {
    font-family: 'Poppins', sans-serif;
}

.carousel, .carousel-inner {
    border-radius: 25px;
}

.about-title {
    font-size: 4rem;
}

.navbar {
    padding-left: 2rem!important;
    padding-right: 2rem!important;
}

.navbar-brand {
    font-size: 78px!important;
}

.nav-item {
    font-size: 1.5rem!important;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
}

.gallery a {
    display: block;
    text-decoration: none;
}

.gallery img {
    width: 100%;
    height: auto;
}

#photo-grid-container {
    overflow: hidden!important;
}

.hero-title, .hero-sub {
    text-align: center;
    color: #FAFAFA;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-title {
    font-size: 10vw;
}

.hero-sub {
    margin-top: -2.5vw;
}

.hero-sub h2 {
    font-size: 4vw;
}

.hero-container {
    padding-top: 20vh;
    height: 100vh;
    background-color: #252525AA;
}
#landing {
    background-image: url("/assets/images/background.jpg");
    background-size: cover;
    background-position: center;
}

#landing .navbar {
    padding-top: 3rem;
    background-color: #252525AA;
}

#landing .navbar .nav-link.active {
    color: #FAFAFA;
}

#landing .navbar .nav-link {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none!important;
    box-shadow: none!important;
    border: 0!important;
    padding: 0!important;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.social-box {
    margin-bottom: 5rem;
}

.social-box ul {
    list-style: none;
    display: flex;
    margin-top: 2rem;
    padding: 0;
  }
  
.social-box li {
    margin-right: 2rem;
    margin-left: 2rem;
    font-size: 3rem
}

.fab {
    color: #252525;
}

.fab:hover, .nav-link:hover {
    color: #4d5fff!important;
}

.profile-pic {
    width: 70%;
    margin-bottom: 4rem;
}

.profile-pic-mobile {
    width: 70%;
    display: none;
    border-radius: 100%;
    margin: 2rem auto 3rem;
}

@media screen and (max-width: 992px) {    
    .profile-pic-mobile {
        display: block;
    }

    .profile-pic {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .navbar-brand {
        font-size: 38px!important;
    }

    .navbar {
        padding-left: 0!important;
        padding-right: 0!important;
    }
}
