<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body id="landing' class="d-flex flex-fill flex-column">
      <!-- Landing Header -->
      {% include header.html %}

      <div id="about-page" class="container mt-5">
        <div class="row">
          <div class="col-lg-6 col-sm-12 text-center">
            <img src="/assets/images/MTXX_MH20231002_140926138.jpg" class="profile-pic">
          </div>
          <div class="col-lg-6 col-sm-12">
            <h1 class="about-title mb-3 text-center">About Me</h1>
            <img src="/assets/images/MTXX_MH20231002_140926138_square.jpg" class="profile-pic-mobile">
            <p>Hi! I’m a Photographer and Writer from Malang, Indonesia.</p>

            <p>I write things like poem, journal and lyric. But, basically prefer to write poem. For photography, apart from commercial, me also like taking photos on the street or wherever I am.</p>

            <p>Usually play MOBA and Rhythm Games when I’m not doing anything. Mostly spend time for learning something new autodidactically and doing several hobbies such as singing and adventuring.</p>
            <div class="social-box text-center mt-5">
              <ul class="align-items-center justify-content-center">
                <li><a href="https://www.linkedin.com/in/arpara/"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="https://twitter.com/itsyunxii"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/hi_mithaaa"><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div id="photo-grid-container"></div>
      <!-- Footer -->
      {% include footer.html %}
    </body>
</html>